parameters:
    level: 5
    paths:
        - useradminsimplifier.php
        - includes
        - uninstall.php
    excludePaths:
        - tests/*
    bootstrapFiles:
        - phpstan-bootstrap.php
